__pycache__
_DATA_ref
Data_G1
*.npz
Simulation/storage/ins.npz
Simulation/storage/mnt.npz
Simulation/storage/kd_tree.pkl
Simulation/storage/kd_tree.joblib
Simulation/storage_afternoon/ins.npz
Simulation/storage_afternoon/dvl.npz
Simulation/storage_afternoon/mnt.npz
Simulation/storage_afternoon/kd_tree.pkl
Simulation/storage_afternoon/kd_tree.joblib

Simulation/storage/dvl_trdi.txt
Simulation/storage/mbes_trdi.txt
Simulation/storage/sbgCenterExport.txt
Simulation/storage/IMU_trdi.txt

Simulation/storage_afternoon/dvl_navsight.txt
Simulation/storage_afternoon/mbes_navsight.txt
Simulation/storage_afternoon/sbgCenterExport.txt
Simulation/storage_afternoon/IMU_navsight.txt
